header {
	background-color:white;
	border-bottom:1px solid #CCC;
	color:black;
}
header .row { margin-bottom:0; }

section { padding-left:0; }

h2 {
    background-color:#cb333b;
    color:white;
    font-size:3rem;
    margin:0;
    padding:1.78rem 0 1.424rem 0;
}

table {
	margin:40px 0 0 20px;
	width:95%;
}

#logo {
	height:100%;
	line-height:1;
	padding:0;
}

#btndlt { background-color:#cb333b; }

#btndlt:hover {
	background-color:#ffcd00;
	color:black;
}

div[id^="tab"] { margin-top:45px; }

#del-cont p {
	margin-bottom:0;
	margin-top:0;
}

#headuser { margin-bottom:40px; }

.row .col{ padding:0; }

.btn {
	background-color:black;
	padding: 0 1em;
}

.btn:hover {
	background-color:#ffcd00;
	color:black;
}

.tabs { overflow:hidden; }

.tabs .tab { min-width:0; }

.tabs .tab a { color:#cb333b; }

.side-nav {
	background-color:#cb333b;
    color:white;
}

.side-nav a { height:40px; }

.side-nav li { border-bottom: 1px solid #CCC; }

.side-nav .nav-link {
	color:white !important;
	display:inline-block !important;
	font-size:1.1rem;
	line-height:1;
	margin:0;
	padding:0 5px !important;
}

.dropdown-content li, .dropdown-content li > a {
	line-height:40px;
	min-height:40px;
}

.modal-content img {
	height:120px;
	width:120px;
}

.alert {
	background-color:#ef9a9a;
	border-radius:5px;
	padding:15px 0;
	margin:15px 0;
}

.dv-time .material-icons {
	font-size:34px;
}

.dv-time p {
	font-size:20px;
	margin-top:6px;
}

.dv-time select, .dv-rol select {
	border-color:#CCC;
	display: block;
}

.input-field .prefix.active { color:black; }

.activeli { background-color:black; }

@media screen and (min-width:974px) and (max-width:1005px) {

	.side-nav .nav-link { font-size: 1rem !important; }
}

@media screen and (max-width:900px) {

	h2 { font-size:2rem; }

}

@media screen and (max-width:659px) {

	aside i { display:none !important; }

}